.container {
  position: relative;
  padding: 20px 50px;
  display: flex;
  justify-items: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  background: #4973ff;
  border-radius: 40px;
  margin-top: 50px;
  width: auto;
}
.container span {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}
.container .liquid {
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  transition: 0.5s;
}
.container .liquid::after,
.container .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.container .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}
.container .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
.container:hover .liquid {
  top: -120px;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
